* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body,
.menu,
.description,
.game,
#pause-menu,
.preview {
    background:  #f7f6f1;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.description h1{
    margin-bottom: 20px;
}

.description p,
.preview,
#displayName{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    width: 850px;
    font-weight: bold;
}

button {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    background-color: #2bbf8e;
    color: #f5f6fa;
    width: 75px;
}

#displayName {
    text-align: center;
    margin-bottom: 40px;
}

.off {
    display: none;
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

.records h2 {
    text-align: center;
}

.results {
    background: #2bbf8e;
    border-radius: 3px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.result {
    width: 500px;
    border: 1px solid #ededed;
    margin: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.results .result:last-child {
    margin-bottom: 0;
}

.result .r-left {
    width: 50%;
}

.result .r-right {
    width: 50%;
}

.result .user {
    font-weight: bold;
}

.result .score, .map {
    margin: 5px 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: 200;
    text-align: right;
}

.load {
    width: 125px;
    background: #4abd3e;
    color: #f5f6fa;
    border-radius: 3px;
    padding: 8px 5px;
    text-align: center;
    font-weight: 200;
    cursor: pointer; 
}

h2{
    margin: 16px;
}

.selector-container{
    margin-top: 100px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-box{
    display: flex;
    width: 400px;
    flex-direction: column;
}

.select-box .options-container{
    background: #2f3640;
    color: #f5f6fa;
    width: 100%;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.selected {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    order: 0;
}

.selected::after {
    content: "";
    background: url("Images/down-arrow-svgrepo-com.svg");
    background-size: contain;
    background-repeat: no-repeat;
    color: #f5f6fa;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
    transition: all 0.4s;
}

.select-box .options-container.active{
    max-height:0px;
    opacity: 1;
}

.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .option,
.selected{
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: #414b57;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

#play {
    margin-top: 40px;
    width: 80px;
    font-family: "Georgia",sans-serif;
}

td {
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    border: 2px solid black;
    text-align: center;
    color: white;
}

td .lit {
    background: rgb(197, 197, 65);
}

td .adj {
    color: green;
}